:root {
	--bg-color: #fafafa;
	--text-color: #18181b;
	--link-color: var(--text-color);
	--link-underline-color: #69696983;
	--link-underline-color__hover: #696969;
	--title-color__hover: rgb(97, 97, 97);
	--blog-published-date-color: #696969;
}

:root[data-theme="dark"] {
	--bg-color: #18181b;
	--text-color: #fafafa;
	--link-color: var(--text-color);
	--link-underline-color: #afafaf83;
	--link-underline-color__hover: #afafaf;
	--title-color__hover: rgb(206, 206, 206);
	--blog-published-date-color: #afafaf;
}

html {
	height: 100vh;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: "Anuphan", sans-serif;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	margin: 0;
	padding-inline: 1.5rem;
	line-height: 25.6px;
}

h1 {
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: -0.02em;
	margin-bottom: 3rem;
}

h2 {
	font-size: 1.3rem;
	font-weight: 500;
	letter-spacing: -0.02em;
}

h3 {
	font-size: 1.1rem;
	font-weight: 500;
	letter-spacing: -0.02em;
}

p,
a {
	letter-spacing: -0.02em;
}

p {
	margin-block: 1.25em;
}

a {
	text-underline-offset: 3px;
}

body a {
	color: var(--link-color);
	text-decoration-color: var(--link-underline-color);
}

body a:hover {
	text-decoration-color: var(--link-underline-color__hover);
}

a:visited {
	color: inherit;
}

li {
	margin-bottom: 0.75rem;
}

pre {
	padding: 1em;
	border-radius: 5px;
	margin-block: 3rem;
}

code {
	font-family: "JetBrains Mono", monospace;
}

.container {
	margin: 0 auto;
	max-width: 40rem;
	min-height: 100vh;
	inset: 0;
}

/* Blog Section Styling */

.blog-post h2 {
	margin-block: 3rem 1.5rem;
}
