---
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
	<h1>nerometa's blog</h1>

	<section id="hello">
		<p id="introduction">
			Hey there! I'm <strong>nerometa</strong>. I'm a 21 years old Computer Engineering student in Bangkok, Thailand on a weekend program.</p>

		<p id="interests">
			My interests are broad, such as DJ'ing and producing music, internet
			privacy, exploring new web development technologies, reading books,
			watching anime, playing Warframe, bullet journaling, speedcubing and hitting the gym 3 times/week.
		</p>

		<p id="purposes">
			This website exists because I think it's an awesome place to share
			what I learned about software development and reflect some of my
			personal thoughts. Most of my knowledge were from outside of school.
			So, I believe that off-campus education is important and it leads me
			to where I am.
		</p>
	</section>
</Layout>
