---
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
	<article class="h-entry">
		<h1 class="p-name">nerometa's blog</h1>
	
		<section id="hello" class="e-content">
			<p id="introduction">
				Hey there! Welcome to the my little digital corner 🏠. I'm a Computer Engineering student in Bangkok, Thailand on a weekend program. And work full-time as a Programmer in a payment system company. <small><em>Yes, I indeed do both.</em></small>
			</p>
	
			<p id="writings">
				When you're here, expect these writings:
				<ul>
					<li>Personal reflections</li>
					<li>My coding projects</li>
					<li>Rants</li>
					<li>Warframe</li>
					<li>Internet findings aligned with my philosophies</li>
					<li>DJing and Music (Production)</li>
					<li>Probably more that I forgot to write</li>
				</ul>
			</p>
		</section>
	</article>
</Layout>
