---
import Layout from '@layouts/Layout.astro';

const updatedAt = new Date('2025-04-17');
---

<Layout title="Now">
    <article class="h-entry">
        <h1 class="p-name">What I'm up to</h1>
        <time class="date" datetime={updatedAt.toISOString()}>
            Updated {
                updatedAt.toLocaleDateString('en-US', {
                    dateStyle: 'medium',
                })
            }
        </time>

        <content class="e-content">
            <h2>Career</h2>
            <ul>
                <li>TBA</li>
            </ul>

            <h2>Artist</h2>
            <ul>
                <li>🎵 3th May - Throwing an event at a cocoa cafe.</li>
                <li>
                    🎵 Collab on a song with <a href="https://azur.moe/"
                        >Azur1s</a
                    >
                </li>
            </ul>

            <h2>Education</h2>
            <ul>
                <li>TBA</li>
            </ul>

            <h2>Music</h2>
            <ul>
                <li>
                    <a
                        href="https://www.youtube.com/watch?v=H_MwWWRkmoA&pp=ygUMdWRleCB0b21vcnJv"
                        >Udex - Tomorrow</a
                    >
                </li>
                <li>
                    <a
                        href="https://www.youtube.com/watch?v=KLhOa5Jm1js&pp=ygUQZ29qaXJhIGFoIGNhIGlyYQ%3D%3D"
                        >Gojira - Mea Culpa (Ah! Ça ira!)
                    </a>
                </li>
            </ul>

            <h2>Video Games</h2>
            <p>Playing Genshin Impact.</p>

            <h2>Personal</h2>
            <ul>
                <li>
                    📕 Reading <a
                        href="https://www.goodreads.com/book/show/5129.Brave_New_World"
                        >Brave New World</a
                    >.
                </li>
            </ul>
        </content>
    </article>
</Layout>

<style>
    .e-content {
        display: block;
        margin-top: 3rem;
    }

    h2 {
        margin-block: 1.5rem 0.75rem;
    }

    ul,
    p {
        margin-block: 0;
    }
</style>
