---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Now">
	<h1>What I'm up to</h1>

	<h2>Software Development & Tech</h2>
	<ul>
		<li>
			<strong>I'm using and learning Angular</strong> at my workplace. Have
			a keen interest and trying
			<a href="https://analogjs.org/">Analog.js</a> which is what Next.js is
			to React.
		</li>
		<li>
			<strong>I'm learning Svelte and Astro</strong> for personal projects
			like this blog.
		</li>
		<li>
			I like <strong
				>discovering new software development resources</strong
			>. In fact, I did a PR on <a href="https://framework.dev/"
				>framework.dev</a
			> because I want people to know these resources I found.
		</li>
		<li>
			<strong>I'm looking into more internet privacy</strong>. I've been
			trying to minimize digital threats as much as I can for a few years
			according to my
			<a href="https://www.privacyguides.org/en/basics/threat-modeling/"
				>threat model</a
			> and will shoot for more.
		</li>
		<li>
			Probably related to internet privacy, but I'm also looking into <strong
				>self-hosting</strong
			> some of alternative to services I frequently use.
		</li>
	</ul>

	<h2>Personal Life</h2>
	<ul>
		<li>
			<strong>I'm a DJ/Producer</strong> outside of work. Really glad to landed
			my first gig on 30th June! Now I'm learning more production side of it.
		</li>
		<li>
			<strong>Hitting the gym</strong> 3 times/week. Focus on shouders, backs
			and neck.
		</li>
		<li>
			<strong>Reading</strong> a book called
			<a href="https://www.goodreads.com/book/show/2753527-loneliness"
				>Loneliness: Human Nature and the Need for Social Connection</a
			>
			for the second time, with a strong emphasis on taking notes. The version
			I read has a
			<a
				href="https://readery.co/media/catalog/product/s/c/screen_shot_2563-12-14_at_5.13.13_pm.png"
				>sick af book cover</a
			>.
		</li>
		<li>
			<strong>Journaling</strong>. I find this really helpful for winding
			down at the end of the day. I do both normal and bullet journaling.
		</li>
	</ul>
</Layout>
