---
import Layout from '@layouts/Layout.astro';

const updatedAt = new Date('2024-12-16');
---

<Layout title="Now">
    <article class="h-entry">
        <h1 class="p-name">What I'm up to</h1>
        <time class="date" datetime={updatedAt.toISOString()}>
            Updated {
                updatedAt.toLocaleDateString('en-US', {
                    dateStyle: 'medium',
                })
            }
        </time>

        <content class="e-content">
            <h2>Career</h2>
            <ul>
                <li>
                    💻 Adjusting to my first programming job. (Will likely write
                    a blog post about it soon after reaching a month of
                    employment.)
                </li>
            </ul>

            <h2>Artist</h2>
            <ul>
                <li>🎵 Planning to release my old song from 2-3 years ago.</li>
                <li>🎼 Working on a new song, wants it to be a collab.</li>
            </ul>

            <h2>Education</h2>
            <ul>
                <li>
                    💻 Got my Java assignment done long ago, but not turned in
                    yet lol.
                </li>
                <li>🇯🇵 I'm learning Japanese!</li>
            </ul>

            <h2>Music</h2>
            <ul>
                <li>
                    <a
                        href="https://www.youtube.com/watch?v=H_MwWWRkmoA&pp=ygUMdWRleCB0b21vcnJv"
                        >Udex - Tomorrow</a
                    >
                </li>
                <li>
                    <a
                        href="https://www.youtube.com/watch?v=KLhOa5Jm1js&pp=ygUQZ29qaXJhIGFoIGNhIGlyYQ%3D%3D"
                        >Gojira - Mea Culpa (Ah! Ça ira!)
                    </a>
                </li>
            </ul>

            <h2>Video Games</h2>
            <p>
                You should check out Warframe, especially the latest patch
                called 1999. It's so amazing.
            </p>

            <h2>Personal</h2>
            <ul>
                <li>💓 Trying to get my life back together.</li>
                <li>
                    💰 Working on getting better at personal finance; Saving up
                    an emergency fund.
                </li>
            </ul>
        </content>
    </article>
</Layout>

<style>
    .e-content {
        display: block;
        margin-top: 3rem;
    }

    h2 {
        margin-block: 1.5rem 0.75rem;
    }

    ul,
    p {
        margin-block: 0;
    }
</style>
