---
import { Icon } from "astro-icon/components";
---

<footer>
	<span>nerometa</span>
	<div class="links">
		<a class="link github" aria-label="Connect with me via GitHub" href="https://github.com/nerometa" rel="me">
			<Icon name="mdi:github" style="height: 100%; width: 1em;" />
		</a>
		<a class="link rss" aria-label="RSS Feed" href="/rss.xml">
			<Icon name="mdi:rss" style="height: 100%; width: 1em;" />
		</a>
		<a class="link email" aria-label="Connect with me via Email" href="mailto:nerometa@protonmail.com" rel="me">
			<Icon
				name="fluent:mail-24-filled"
				style="height: 100%; width: 1em;"
			/>
		</a>
	</div>
</footer>

<style>
	footer {
		display: flex;
		justify-content: space-between;
		margin-top: 6rem;
		padding-bottom: 1rem;
	}

	.links {
		display: flex;
		gap: 1rem;
	}

	.link {
		text-decoration: none;
	}

	.link:hover {
		text-decoration: underline;
	}
</style>
