---
import Layout from "@layouts/Layout.astro";
---

<Layout title="เกี่ยวกับเรา">
	<article class="h-entry">
		<h1 class="p-name">เกี่ยวกับเรา</h1>

		<content class="e-content">
			<p>
				เราเคยเป็นเด็กฝึกงานมาตั้งแต่ปี 2022 ได้ทำ full-stack (เน้น front-end มากกว่า) โดยใช้ Angular กับ NestJS เราทั้งฝึกงานทั้งเรียนปวส. เมคคทรอนิกส์ไปด้วยพร้อมๆ กัน
			</p>
		
			<p>
				วิทยาลัยของเรามีโครงการฝึกงานที่นักศึกษาได้ฝึกงาน<em>แบบมีค่าตอบแทน</em>แน่นอน ในเงื่อนไขที่ว่าเราต้องทำจนกว่าจะเรียนจบ ซึ่งใช้เวลา 2 ปีด้วยกัน
			</p>
		
			<p>
				เราเริ่มศึกษาปริญญาตรีด้านวิศวกรรมคอมพิวเตอร์ต่อภายในเวลาไม่นาน ดูน่าสนุกนะ และตอนนี้ก็ทำงานเป็น Software Developer เต็มเวลาครับ
			</p>
		
			<p>
				เราตั้งใจมากๆๆ ว่าต่อไปอยากจะเป็น full-stack ให้มากขึ้น กระนั้นเราก็อยากทำ front-end เป็นหลัก เพราะเราชอบเห็นโค้ดตัวเองเข้าที่เข้าทางทีละนิดๆ กับตาตัวเอง
			</p>
		
			<h2>เกี่ยวกับเว็บไซต์นี้</h2>
		
			<ul>
				<li><strong>Astro</strong> ทำเว็บ</li>
				<li><strong>Vanilla CSS</strong> เพื่อแต่งเว็บง่ายๆ</li>
				<li><strong>JavaScript</strong> ไว้เปลี่ยนธีม</li>
			</ul>
		</content>
	</article>
</Layout>
