---
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
	<article class="h-entry">
		<h1 class="p-name">nerometa's blog</h1>
	
		<section id="hello" class="e-content">
			<p id="introduction">
				สวัสดีครับ! ยินดีต้อนรับสู่มุมเล็กๆ ในโลกดิจิทัลของเราเอง 🏠 เราเป็นนักศึกษาวิศวะคอมภาคพิเศษที่กทม. แล้วก็เป็นโปรแกรมเมอร์ในบริษัททำระบบชำระเงินด้วย <small><em>ใช่ เราทำมันทั้งคู่อ่ะแหละ</em></small>
			</p>
	
		<p id="writings">
				ถ้าอยู่ที่นี่ นี่คือเรื่องที่คุณอาจจะได้อ่าน:
				<ul>
					<li>การสะท้อนชีวิต</li>
					<li>โปรเจคท์ coding ของเรา</li>
					<li>บ่นขิงข่า</li>
					<li>Warframe</li>
					<li>สิ่งที่เจอในเน็ตแล้วตรงกับปรัชญาของตัวเอง</li>
					<li>ดีเจและ (การทำ) เพลง</li>
					<li>น่าจะมีอีกแต่ลืมเขียน</li>
				</ul>
			</p>
		</section>
	</article>
</Layout>
