---
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
	<h1>nerometa's blog</h1>

	<section id="hello">
		<p id="introduction">
			สวัสดีครับ! เราใช้ชื่อว่า <strong>nerometa</strong> นะ เราอายุ 21 ปี กำลังเรียนวิศวะคอมภาคพิเศษที่กทม.</p>

		<p id="interests">
			เรามีความสนใจหลายอย่าง เช่นดีเจกับทำเพลง สนใจเรื่อง internet privacy ชอบหาเทคใหม่ๆ ด้าน web development อ่านหนังสือ ดูอนิเมะ เล่น Warframe จดบูโจ เล่นรูบิค และเข้าฟิตเนสอาทิตย์ละ 3 ครั้ง
		</p>

		<p id="purposes">
			บล็อกนี้เกิดขึ้นมาเพราะเราคิดว่ามันเป็นที่ที่เจ๋งดีในการแบ่งปันสื่งที่เรารู้เกี่ยวกับการพัฒนาซอฟต์แวร์ แล้วก็ได้สะท้อนความคิดบางอย่างของเราไปด้วย ความรู้ส่วนมากของเรามาจากนอกรั้วโรงเรียน เราเลยเชื่อว่าการศึกษานอกห้องเรียนนั้นสำคัญ และมันก็พาเรามาถึงจุดนี้
		</p>
	</section>
</Layout>
