---
import Layout from '@layouts/Layout.astro';

const updatedAt = new Date('2025-04-17');
---

<Layout title="ตอนนี้">
    <article class="h-entry">
        <h1 class="p-name">ตอนนี้เราทำอะไร</h1>
        <time class="date" datetime={updatedAt.toISOString()}>
            อัปเดตวันที่ {
                updatedAt.toLocaleDateString('th-TH', {
                    dateStyle: 'medium',
                })
            }
        </time>

        <content class="e-content">
            <h2>อาชีพ</h2>
            <ul>
                <li>TBA</li>
            </ul>

            <h2>ศิลปิน</h2>
            <ul>
                <li>🎵 3 พฤษภาคม - จัดงานที่ร้านโกโก้</li>
                <li>
                    🎵 ทำเพลงกับ <a href="https://azur.moe/">Azur1s</a>
                </li>
            </ul>

            <h2>การเรียน</h2>
            <ul>
                <li>TBA</li>
            </ul>

            <h2>เพลง</h2>
            <ul>
                <li>
                    <a
                        href="https://www.youtube.com/watch?v=H_MwWWRkmoA&pp=ygUMdWRleCB0b21vcnJv"
                        >Udex - Tomorrow</a
                    >
                </li>
                <li>
                    <a
                        href="https://www.youtube.com/watch?v=KLhOa5Jm1js&pp=ygUQZ29qaXJhIGFoIGNhIGlyYQ%3D%3D"
                        >Gojira - Mea Culpa (Ah! Ça ira!)
                    </a>
                </li>
            </ul>

            <h2>เกม</h2>
            <p>เล่น Genshin Impact</p>

            <h2>ส่วนตัว</h2>
            <ul>
                <li>
                    📕 อ่าน <a
                        href="https://www.goodreads.com/book/show/5129.Brave_New_World"
                        >Brave New World</a
                    >
                </li>
            </ul>
        </content>
    </article>
</Layout>

<style>
    .e-content {
        display: block;
        margin-top: 3rem;
    }

    h2 {
        margin-block: 1.5rem 0.75rem;
    }

    ul,
    p {
        margin-block: 0;
    }
</style>
