---
import Layout from '@layouts/Layout.astro';

const updatedAt = new Date('2024-12-16');
---

<Layout title="ตอนนี้">
    <article class="h-entry">
        <h1 class="p-name">ตอนนี้เราทำอะไร</h1>
        <time class="date" datetime={updatedAt.toISOString()}>
            อัปเดตวันที่ {
                updatedAt.toLocaleDateString('th-TH', {
                    dateStyle: 'medium',
                })
            }
        </time>

        <content class="e-content">
            <h2>อาชีพ</h2>
            <ul>
                <li>
                    💻 กำลังปรับตัวกับงานแรกอยู่
                    (ถ้าทำครบเดือนน่าจะเขียนบล็อกนะ)
                </li>
            </ul>

            <h2>ศิลปิน</h2>
            <ul>
                <li>🎵 วางแผนปล่อยเพลงเก่าที่ทำไว้เมื่อ 2-3 ปีก่อน</li>
                <li>🎼 กำลังทำเพลงใหม่ ตั้งใจจะให้เป็น collab</li>
            </ul>

            <h2>การเรียน</h2>
            <ul>
                <li>
                    💻 ทำการบ้าน Java เสร็จเป็นเดือนแล้ว แต่ยังไม่ได้ส่ง 5555
                </li>
                <li>🇯🇵 เรียนภาษาญี่ปุ่น!</li>
            </ul>

            <h2>เพลง</h2>
            <ul>
                <li>
                    <a
                        href="https://www.youtube.com/watch?v=H_MwWWRkmoA&pp=ygUMdWRleCB0b21vcnJv"
                        >Udex - Tomorrow</a
                    >
                </li>
                <li>
                    <a
                        href="https://www.youtube.com/watch?v=KLhOa5Jm1js&pp=ygUQZ29qaXJhIGFoIGNhIGlyYQ%3D%3D"
                        >Gojira - Mea Culpa (Ah! Ça ira!)
                    </a>
                </li>
            </ul>

            <h2>เกม</h2>
            <p>
                อยากให้ลองเล่น Warframe ดู โดยเฉพาะแพทช์ใหม่ชื่อ 1999 โคตรสนุก
            </p>

            <h2>ส่วนตัว</h2>
            <ul>
                <li>💓 กำลังพยายามสร้างเนื้อสร้างตัวใหม่ ทำชีวิตให้ดีขึ้น</li>
                <li>
                    💰 กำลังพยายามจัดการการเงินให้ดีขึ้น
                    เริ่มเก็บเงินสำรองฉุกเฉิน
                </li>
            </ul>
        </content>
    </article>
</Layout>

<style>
    .e-content {
        display: block;
        margin-top: 3rem;
    }

    h2 {
        margin-block: 1.5rem 0.75rem;
    }

    ul,
    p {
        margin-block: 0;
    }
</style>
