---
import Layout from '@layouts/Layout.astro';

const updatedAt = new Date('2025-08-13');
---

<Layout title="ตอนนี้">
    <article class="h-entry">
        <h1 class="p-name">ตอนนี้เราทำอะไร</h1>
        <time class="date" datetime={updatedAt.toISOString()}>
            อัปเดตวันที่ {
                updatedAt.toLocaleDateString('th-TH', {
                    dateStyle: 'medium',
                })
            }
        </time>

        <content class="e-content">
            <h2>อาชีพ</h2>
            <ul>
                <li>หาทำกับแอพฯ self-hosted ต่างๆ เกือบทุกตัวใช้ในชีวิตประจำหมดเลย เราใช้ <a href="https://linkding.link/">LinkDing</a>, <a href="https://github.com/burhan-syed/troddit">Troddit</a>, <a href="https://www.freshrss.org/">FreshRSS</a>, <a href="https://n8n.io">n8n</a> และ <a href="https://www.usememos.com/">Memos</a></li>
                <li>สนุกกับการทำระบบอัตโนมัติด้วย n8n มากๆ ตอนนี้เรามี AI Chatbot ใช้ใน LINE แล้ว แต่กำลังหาวิธีเอามันเข้าไปใช้ใน <a href="https://signal.org/">Signal</a> อยู่</li>
            </ul>

            <h2>ศิลปิน</h2>
            <ul>
                <li>🎵🥩 24 สิงหาคม - ดีเจที่ร้านข้าวหน้าเนื้อ</li>
            </ul>

            <h2>การเรียน</h2>
            <ul>
                <li>เรียนภาษาญี่ปุ่น 🇯🇵 จาก Anki, อ่านอีบุ๊คและงานที่ทำอยู่ทุกวัน เราพอจะฟังและอ่านออกเป็นคำๆ ได้แล้ว แต่ยังประกอบเป็นประโยคไม่ได้ตอนนี้</li>
            </ul>

            <h2>เพลง</h2>
            <ul>
                <li><a href="https://www.youtube.com/watch?v=z2M1pQY27KA">Jude & Frank - Joga Joga</a></li>
                <li><a href="https://www.youtube.com/watch?v=kfduUMGOmoY">4EVE - Snooze</a></li>
                <li><a href="https://www.youtube.com/watch?v=pnY7m5CK-as">Men I Trust - Seven</a></li>
            </ul>

            <h2>เกม</h2>
            <ul>
                <li>Genshin Impact</li>
                <li>Warframe</li>
                <li>Roblox</li>
            </ul>

            <h2>ส่วนตัว</h2>
            <ul>
                <li>
                    📕 อ่าน <a
                        href="https://www.goodreads.com/book/show/30646587-the-simple-path-to-wealth"
                        >The Simple Path to Wealth</a
                    >.
                </li>
                <li>ตั้งตารอที่จะได้ไปค้างบ้านรุ่นพี่ เราเพิ่งไปนอนที่นั่น 2 คืนและพักผ่อนสนุกมาก มีทั้งปาร์ตี้อาหาร ดีเจกันขำๆ และดู Dandadan กับ Sakamoto Days เราจะไปหาพวกพี่เขาอีกสัปดาห์หน้า</li>
                <li>🏋️‍♂️ ออกกำลังกาย 2 วัน/สัปดาห์และเริ่มกินอาหารเพื่อสุขภาพ</li>
                <li>เริ่มจดบันทึกอีกครั้ง</li>
            </ul>
        </content>
    </article>
</Layout>

<style>
    .e-content {
        display: block;
        margin-top: 3rem;
    }

    h2 {
        margin-block: 1.5rem 0.75rem;
    }

    ul,
    p {
        margin-block: 0;
    }
</style>
