---
import Layout from "@layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import type { Lang } from "@i18n/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";

const locale = Astro.currentLocale as Lang;
function sortPostsByDate(
	posts: CollectionEntry<"blog">[]
): CollectionEntry<"blog">[] {
	return posts.sort(
		(a, b) =>
			new Date(b.data.pubDate).getTime() -
			new Date(a.data.pubDate).getTime()
	);
}

const blogs = sortPostsByDate(
	await getCollection("blog", (blog: CollectionEntry<"blog">) => {
		return (
			import.meta.env.MODE !== "production" || blog.data.draft === false
		);
	})
).filter((blog) => blog.slug.split("/")[0] === locale);
---

<Layout title="บล็อก">
	<h1>บล็อก</h1>
	<ul class="blogs">
		{
			blogs.map((blog) => {
				const [, ...slug] = blog.slug.split("/")
				return (
					<>
						<li class="blog">
							<h3 transition:name={blog.data.title}>
								<a
									href={getRelativeLocaleUrl('th', `blog/${slug}`)}
									class="title">
									{blog.data.title}
								</a>
							</h3>

							<p class="date">
								{blog.data.pubDate.toLocaleDateString("en-US", {
									dateStyle: "medium",
								})}
							</p>
						</li>
					</>
				);
			})
		}
	</ul>
</Layout>

<style>
	.blogs {
		padding: 0;
		margin: 0;
	}

	.blog {
		list-style-type: none;
		margin-bottom: 0.5rem;
	}

	.blog > * {
		margin: 0;
	}

	.title {
		text-decoration: none;
		transition: color 150ms ease-in-out;
	}

	.title:visited {
		color: inherit;
	}

	.title:hover {
		color: var(--title-color__hover);
	}

	.date {
		flex: 0 0 130px;
	}

	@media (min-width: 25rem) {
		.blog {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
</style>
